torch>=2.1.0,<=2.1.2
torchvision>=0.16.0,<0.17.0
gradio>=4.29.0
opencv-python
diffusers[torch]
transformers
xformers
accelerate
safetensors
timm
scikit-image
realesrgan
basicsr>=1.4.2
thinc==8.3.4
scipy==1.14.1
numpy==1.26.4